.wrapper {
  border: 1px solid black;
  height: 400px;
}

.box {
  width: 400px;
  height: 400px;
  float: left;
  font-size: 50px;
  text-align: center;
}

.box1 {
  background-color: teal;
}

.box2 {
  background-color: tomato;
}

.box3 {
  background-color: yellowgreen;
}
